.row-wrapper {
  overflow: hidden;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}
  
.row > .column {
  padding: 10px;
}
  
.row-zero {
  margin: 0;
}

.row-zero > .column {
  padding: 0;
}

.row-middle {
  margin: -15px;
}

.row-middle > .column {
  padding: 15px;
}

.row-large {
  margin: -20px;
}

.row-large > .column {
  padding: 20px;
}

.row-expertise > .column {
  border-right: 2px solid #d0d0d4;
  border-bottom: 2px solid #d0d0d4;
}
  
@media (min-width: 480px) {
  .row-middle {
    margin: -10px;
  }
  
  .row-middle > .column {
    padding: 10px;
  }
  
  .row-large {
    margin: -30px;
  }
  
  .row-large > .column {
    padding: 30px;
  }
}

@media (min-width: 640px) {
  .row-middle {
    margin: -20px;
  }
  
  .row-middle > .column {
    padding: 20px;
  }
  
  .row-large {
    margin: -50px;
  }
  
  .row-large > .column {
    padding: 50px;
  }
}