.nav-item {
  padding-left: 25px;
  color: transparent;   
  -webkit-background-clip: text;   
          background-clip: text; 
  background-image: -webkit-gradient(linear, left top, right top, from(#00e0d0), to(#4aa3cc)); 
  background-image: -o-linear-gradient(left, #00e0d0 0%, #4aa3cc 100%); 
  background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
  font-size: 13px;
  font-weight: 900;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-item:first-child {
  padding-left: 0;
}

.nav-item:hover {
  color: #00e0d0;
  text-decoration: none;
}

.nav-item.is-active {
  color: #00e0d0;
  text-decoration: none;
}